<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <bean id="person" class="com.mousbah.spring.Person">
       <property name="firstName" value="Mousbah"/>
       <property name="lastName" value="El Fil"/>
       <property name="ssn" value="1"/>
       <property name="age" value="23"/>
   </bean>
   <bean id="course" class="com.mousbah.spring.Course">
       <property name="desription" value="Introduction to computer programming"/>
       <property name="id" value="1"/>
       <property name="name" value="EECE230"/>
   </bean>

</beans>